@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}

#header {
  position: relative;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-color: black;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
}

#header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

#header > * {
  position: relative;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 95px;
  padding: 20px 50px;
}

.logo img {
  height: 40px;
}

.signin {
  padding: 10px 20px;
  background: rgb(223, 0, 0);
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.4s all ease-in-out;
}

.signin:hover {
  background: rgb(170, 0, 0);
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header_content h2 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.header_content p {
  color: white;
  font-size: 1.2rem;
  margin: 20px 0;
  text-align: center;
  max-width: 600px;
  font-weight: 600;
}